@import "@fontsource/space-mono/400.css";
@import "@fontsource/space-mono/700.css";
@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: "Space Mono", monospace;
  --font-mono: "Space Mono", monospace;
}
