---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import ComicCard from '../components/ComicCard.astro';

const comics = await getCollection('comics');
const sortedComics = comics.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout type="website">
	<section class="flex flex-col gap-8 md:gap-12">
		{sortedComics.map((comic) => (
			<ComicCard comic={comic} />
		))}
	</section>
</Layout>
