<footer class="border-t border-zinc-200 py-6 text-sm text-zinc-500">
	<div class="flex flex-col md:flex-row justify-between items-end gap-6 text-zinc-400">
		<div class="flex flex-col sm:flex-row gap-4 sm:gap-6 items-baseline w-full md:w-auto">
			<span class="whitespace-nowrap">Jérôme Abel</span>
			
			<nav class="flex gap-4 sm:gap-6 text-zinc-500 font-medium">
				<a 
					href="https://jeromeabel.net" 
					title="Portfolio Arts multimédia"
				>
					Arts
				</a>
				<a 
					href="https://dev.jeromeabel.net" 
					title="Portfolio Développement web"
				>
					Dev
				</a>
				<a 
					href="https://creativecommons.org/licenses/by-nc/4.0/"
					title="Licence Creative Commons BY-NC 4.0"
				>
					Licence
				</a>
			</nav>
		</div>

		<div class="text-xs md:text-right max-w-lg leading-relaxed">
			<p>Détournement de la photo de couverture du magazine <em>Les carnets du bricolage n°1 - Habillez les murs</em>, Hachette pratique, 1980, acheté dans un vide-grenier.</p>
		</div>
	</div>
</footer>
