<footer class="border-t border-zinc-200 py-6 text-sm text-zinc-500">
	<p>Jérôme Abel - <a href="https://jeromeabel.net" title="Jérôme Abel's website">Art</a> - <a href="https://dev.jeromeabel.net" title="Jérôme Abel's website">Dev</a></p>
</footer>
